.add-page-top-level-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-page-container{
  width:90%;
  background-color: white;
  margin:0 auto;
  margin-top: 1.5em;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 0 black;
  max-width: 900px;
  min-width: 400px;
}

.add-page-header{
  display:flex;
  background-color: #373737;
  color:white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-page-header-text{
  font-size: 1.2em;
  padding:0.5em;
  font-weight: 700;
  flex:1;
}

.add-page-input{
  width:inherit;
  margin:0.5em auto;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  padding:0.5em;
  border-radius: 10px;
 }

.add-page-editor-wrapper{
  width:100%;
  margin:0 auto;
  background-color: white;
  display:flex;
  flex-direction: column;
  border-radius: 10px;
}

.add-page-editor{
  border-width:2px;
  border-style:inset;
  border-color:initial;
  background-color: white;
  border-radius: 10px;
  padding:0 0.5em;
  width:98%;
  margin: 0 auto 0.5em;
  min-height: 300px;
}

.add-page-submit{
  margin:0 auto;
  padding:0.5em 1em;
  margin:0.5em;
  user-select: none;
  border:solid white 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 0 black;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color:white;
  background-color: #373737;
  display:inline-block;
}

.add-page-document-drop{
  height:150px;
  margin:2em;
  border: dashed 5px lightgrey;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFEEEE;
  border-radius: 10px;
}

.add-page-document-drop-text{
  font-size: 1.5em;
  font-weight: 700;
}

input[type="file"] {
    display: none;
}

.add-page-document-choose-btn{
  font-size: 1em;
  color:white;
  background-color: #373737;
  display:block;
  width:150px;
  margin: 0 auto 1em;
  display:flex;
  align-items: center;
  justify-content: space-around;
  padding:0.5em;
  font-weight: 700;
  user-select: none;
  font-size: 1.2em;
  border-radius: 10px;
}

.add-page-document-success-text{
  font-size: 1em;
}

.edit-page-row, .edit-page-sidebar-container{
  display:flex;
  background-color: white;
  color:black;
  border-bottom: solid 1px lightgrey;
}
.edit-page-row:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.edit-page-row-text{
  font-size: 1.2em;
  padding:0.5em;
  flex:1;
}

.edit-page-add-link-btn{
  display:flex;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  align-items:center;
  justify-content:flex-end;
  padding:1em;
  user-select:none;
  cursor:pointer;
}

.edit-page-add-link-btn:hover{
  background-color: #f9eae5;
}

.edit-site-modal-link{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.edit-site-modal-link:hover{
  background: lightgrey;
}
.edit-site-modal-header{
  background-color: #373737;
  color:white !important;
  user-select: none;
  width:100%;
  margin:0;
  padding:0.3em;
  position:fixed;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.row-route{
  overflow: scroll; 
}

.modal-content{
  height:100%;
  width:100%;
  position:fixed;
  overflow: scroll;
}
.modal-filter{
  position:fixed;
  top:2.7em;
  background:white;
  width:100%;
  box-sizing: border-box;
  display:flex;
  align-items: center;
  padding:0.5em;
  justify-content: space-around;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.1);
}
.modal-filter-text{
  flex:1;
  font-weight: 700;
}

.modal-filter-form{
  flex:2;
}
.modal-filter-input{
  width:90%;
  border-radius:20px;
  margin: 0 auto;
  font-size:1em;
  padding:0.5em;
}

.edit-site-modal-links{
  margin-top:6.5em;
}
.modal-close-btn{
  color:tomato;
}
.modal-close-btn:hover{
  color:white;
}
